<%= simple_form_for(@hotel_address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hotel_id %>
    <%= f.input :country %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :street %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
