<%= simple_form_for(@hotel, :html => {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label :photo %>
    <%= f.file_field :image %>
    <%= f.label :remote_image_url, "Web link" %>
    <%= f.text_field :remote_image_url %>
    <br />
    <%= f.input :rating %>
    <%= f.input :breakfast_included %>
    <%= f.input :description %>
    <%= f.input :price %>
  </div>

  <div class="form-inputs">
    <%= f.label :country %><br />
    <%= select_tag :country, collection: [ 1 => "Nepal", 2 => "Uganda", 3 => "Angola", 4 => "Tonga", 5 => "Samoa"] %>
    <%#= f.input :country, priority: [ "Uganda" ], collection: [ "Nepal", "Uganda", "Angola", "Tonga", "Samoa"] %>
<br />


    <%= f.label :state %><br />
    <%= text_field_tag :state %><br />
    <%= f.label :city %><br />
    <%= text_field_tag :city %><br />
    <%= f.label :street %><br />
    <%= text_field_tag :street %><br />
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
