<%= simple_form_for(@hotel, :html => {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label :photo %>
    <%= f.file_field :image %>
    <%= f.label :remote_image_url, "Web link" %>
    <%= f.text_field :remote_image_url %>
    <br />
    <%= f.input :rating %>
    <%= f.label :include_meals %>
    <%= f.check_box :breakfast_included %>
    <br />
    <%= f.text_area :description %>
    <%= f.input :price %>
  </div>

  <div class="form-inputs">
    <%= f.label :country %><br />
    <%= select_tag "address[country_id]", options_from_collection_for_select(Country.all, "id", "name") %>
<br />


    <%= f.label :state %><br />
    <%= text_field_tag 'address[state]', @hotel.try(:hotel_address).try(:state) %><br />
    <%= f.label :city %><br />
    <%= text_field_tag 'address[city]', @hotel.try(:hotel_address).try(:city) %><br />
    <%= f.label :street %><br />
    <%= text_field_tag 'address[street]', @hotel.try(:hotel_address).try(:street) %><br />
    <%= hidden_field_tag 'address[hotel_id]', @hotel.id %><br />

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
