<%= form_for(@hotel, :html => {multipart: true}) do |f| %>
  <div class="form-inputs">
    <%= f.label :title %>
    <%#= f.text_field :title %>
    <%#= f.check_box :breakfast_included, "Lunch" %>
    <%#= f.collection_radio_buttons :breakfast_included, [[true, 1], [true, 1], [false, 0]], :first, :last %>
    <%#= @hotel.hotel_address.inspect %>
  <% @hotel.build_hotel_address if @hotel.hotel_address.nil? %>
  777
  <% f.fields_for :hotel_address do |a| %>
    <%= a.class %>
    <%= a.label :state %>
    <%= a.text_field :state %>
    <%= a.text_field :city %>
    <%= a.text_field :street %>
  <% end %>
  <br>
    <%= f.label :rating %>
    <%#= f.text_field :rating %>
  </div>
<% end %>


<%= simple_form_for(@hotel, :html => {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label :photo %>
    <%= f.file_field :image %>
    <%= f.label :remote_image_url, "Web link" %>
    <%= f.text_field :remote_image_url %>
    <br />
    <%= f.input :rating %>
    <%= f.label :include_meals %>
    <%= f.check_box :breakfast_included %>
    <%#= f.input :breakfast_included %>
    <br />
    <%= f.text_area :description %>
    <%= f.input :price %>
  </div>

  <div class="form-inputs">
    <%= f.label :country %><br />
    <%#= select_tag :country, collection: [ 1 => "Nepal", 2 => "Uganda", 3 => "Angola", 4 => "Tonga", 5 => "Samoa"] %>
    <%#= f.input :country, priority: [ "Uganda" ], collection: [ "Nepal", "Uganda", "Angola", "Tonga", "Samoa"] %>
    <%#= f.association :country %>
    <%#= select_tag :country, options_from_collection_for_select(@countries, "id", "code") %>
    <%= select_tag "address[country_id]", options_from_collection_for_select(Country.all, "id", "name") %>
    <%#= select_tag :country, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
<br />

  <%# @hotel.build_hotel_address if @hotel.hotel_address.nil? %>
  <% f.fields_for :hotel_address do |a| %>
    <%= a.label :state %>
    <%= a.input :state %>
    <%= a.input :city %>
    <%= a.input :street %>
  <% end %>
<br />


    <%= f.label :state %><br />
    <%= text_field_tag 'address[state]', @hotel.try(:hotel_address).try(:state) %><br />
    <%= f.label :city %><br />
    <%= text_field_tag 'address[city]', @hotel.try(:hotel_address).try(:city) %><br />
    <%= f.label :street %><br />
    <%= text_field_tag 'address[street]', @hotel.try(:hotel_address).try(:street) %><br />
    <%= hidden_field_tag 'address[hotel_id]', @hotel.id %><br />

    <%#= f.label :state %><br />
    <%#= text_field_tag 'address[state]' %><br />
    <%#= f.label :city %><br />
    <%#= text_field_tag 'address[city]' %><br />
    <%#= f.label :street %><br />
    <%#= text_field_tag 'address[street]' %><br />
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
