<% if user_signed_in? %>
<%= link_to 'New Hotel', new_hotel_path %>
<% end %>

<%= render partial: 'top_hotels' %>

<h1>Listing hotels</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Rating avg</th>
    <th># comments</th>
    <th>Rating</th>
    <th>Breakfast included</th>
    <th>Description</th>
    <th>Price</th>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
    <th>Street</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hotels.each do |hotel| %>
  <tr>
    <td><%= hotel.title %></td>
    <td><%= hotel.rating_average %></td>
    <td><%= hotel.comments.count %></td>
    <td><%= hotel.rating %></td>
    <td><%= hotel.breakfast_included %></td>
    <td><%= hotel.description %></td>
    <td><%= hotel.price %></td>
    <td><%= hotel.try(:hotel_address).try(:country).try(:name) %></td>
    <td><%= hotel.try(:hotel_address).try(:state) %></td>
    <td><%= hotel.try(:hotel_address).try(:city) %></td>
    <td><%= hotel.try(:hotel_address).try(:street) %></td>
    <td><%= link_to 'Show', hotel %></td>
    <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
    <td><%= link_to 'Destroy', hotel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
